/* Reset de estilos padrão do navegador */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Estilos gerais */
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho */
.site-header {
  text-align: center;
  padding: 0px 0;
  /* Adiciona espaço acima e abaixo do cabeçalho */
}

.div-header {
  background-color: #2b0261;
  height: 60px;
}

.name-header {
  font-family: 'Arial', sans-serif;
  color: aliceblue;
  font-size: 18px;
  text-align: left;
  padding: 0px 30px 0px 0px;
}

.site-logo {
  display: block;
  align-self: bottom;
  float: right;
  /* Ajuste a margem superior conforme necessário */
  margin-right: 300px;
  margin-top: -450px;
  max-width: 600px;
  height: 350px;
}

.site-welcome {
  margin: 200px 200px;
  max-width: 600px;
  /* Largura máxima para melhor legibilidade */
  text-align: center;
}

.site-welcome h2 {
  color: #000000;
  font-size: 3em;
  /* Ajuste o tamanho do texto conforme necessário */
  margin-bottom: 10px;
  /* Adiciona espaço abaixo do título */
}

.site-welcome p {
  color: #555;
  font-size: 1.2em;
}

.welcome-button {
  background-color: #681fc7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

.welcome-button:hover {
  background-color: #3f002c;
  /* estilização do mouse passando nos botões*/
}

/* Estilos de navegação */
.site-nav {
  background-color: #420592;
  position: relative;
  padding: 10px;
  z-index: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.nav-link:hover {
  color: #fff;
}

.sub-nav {
  display: none;
  position: absolute;
  background-color: #420592;
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 200px;
}

.nav-item:hover .sub-nav {
  display: block;
}

.sub-nav li {
  padding: 10px;
  margin-bottom: 10px;
}

.sub-nav a {
  text-decoration: none;
  color: white;
}

.sub-nav a:hover {
  color: #fff;
}

.login {
  position: absolute;
  top: 0px;
  /* Ajuste conforme necessário para alinhar na mesma linha */
  right: 0;
  margin: 10px;
}

.login-button {
  background-color: #420592;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 0.8em;
  cursor: pointer;
  z-index: 2;
}

.login-button:hover {
  background-color: #420592;
}


.footer {
  position: relative;
  background-color: #420592;
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  float: inline-end;
  padding-bottom: 42px;
}

.title-about {
  padding: 70px 0px 0px 0px;
}

.text {
  margin: 40px 250px 40px 250px;
}